* {
  margin: 0;
  font-family: sans-serif;
  padding: 0;
  cursor: pointer;

}

.container {
  width: 100%;
  box-sizing: 3rem;
  background-color: black;
  display: flex;
  padding: 20px;
  gap: 10px;
  align-items: center;
  box-shadow: 0 0 10px rgb(125, 124, 124);
  cursor: pointer;
  position: fixed;
  z-index: 1000;
}

.logo {
  color: rgb(93, 171, 235);
  font-size: 25px;
  font-weight: 800;
}

.item {
  color: rgb(255, 255, 255);
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
}

 .btn {
  padding: 8px 14px 8px 14px;
  border-radius: 4px;
  border: none;
  color: white;
  background: linear-gradient(to left, #6e9cf0, #2a69dd);
  font-weight: 800;
}

.btn:hover {
  background-color: rgb(94, 85, 222);
  color: rgb(249, 247, 247);
}

.search {
  color: white;
  border: none;
  size: 20px;
}

.search:hover {
  color: rgb(94, 85, 222);
  background-color: none;
}

.line {
  height: 8px;
  width: 28px;
  border-radius: 50%;
  display: inline-block;
  background-color: rgb(51, 31, 139);
}

.item:hover {
  color: rgb(54, 112, 236);
}

/*            DROPDOWN CSS           */
.dropbtn {
  background-color: #111112;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  /* display: center; */
  position: absolute;
  background-color: #0f0e0e;
  min-width: 16rem;
  /* overflow: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  /* z-index: 2; */
}


.dropdown-content a {
  color: rgb(245, 236, 236);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #2a87eb;
}

.show {
  display: block;
}